

body
{
    background-color: gray;
    margin: auto ;
    min-width: 30%;
    max-width: 30%;
    background: linear-gradient(65deg,rgb(64, 64, 110),rgba(150, 153, 136, 0.897));
}

.en-tête__icône
{
    float:left;
}

.en-tête__titre
{
    display: inline;
    font-size: 15px;
    padding-left: 1rem;
}

.bouton-calcule__ligne
{
    display: flex;
    align-items: stretch;
}

.ecran__input
{
    width: 100%;
    height: 100px;
    font-size:80px;
    text-align: right;
}
.bouton
{
    height: 60px;
    width: 100%;
    font-size: 25px;
    border: solid;
}

.--mode
{
    height: 25px;
    font-size: 10px;
    border:none;
}