/*html tag*/
body {
  margin: 0px;
  padding: 0px;
  background: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
/*Classes*/
.menu__container {
  width: auto;
  margin: auto;
  margin-top: 4rem;
}
.menu__list {
  height: 600px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.menu__list__item {
  border: 1px solid white;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list__subitem{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*background-effet-fire-animation-keyframe*/

@keyframes background-effect-fire-animation-keyframes {
  0% {
    background-color: #fff;
  }
  12.5% {
    background-color: #fff;
  }
  25% {
    background-color: #fe0;
  }
  37.5% {
    background-color: #fc0;
  }
  50% {
    background-color: #f90;
  }
  65.2% {
    background-color: #f70;
  }
  75% {
    background-color: #f70;
  }
  87.5% {
    background-color: #f50;
  }
  100% {
    background-color: #f40;
  }
}

.background-effect-fire-animation {
  animation-duration: 0.8s;
  animation-name: background-effect-fire-animation-keyframes;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #ffe;
}

/*block-effet-fire-animation-keyframe*/

@keyframes block-effect-fire-animation-keyframes {
  0% {
    box-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
      0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
      0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.4em #f70,
      0.06em -0.2em 0.9em #f50, 0.1em -0.1em 1em #f40;
  }
  25% {
    box-shadow: 0 -0.05em 0.2em #fff, 0 -0.05em 0.17em #fe0,
      0.04em -0.12em 0.22em #fc0, 0.04em -0.13em 0.27em #f90,
      0.05em -0.23em 0.33em #f70, 0.07em -0.28em 0.47em #f70,
      0.1em -0.3em 0.8em #f50, 0.1em -0.3em 0.9em #f40;
  }
  50% {
    box-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
      0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
      0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.4em #f70,
      0.06em -0.2em 0.9em #f50, 0.1em -0.1em 1em #f40;
  }
  75% {
    box-shadow: 0 -0.05em 0.2em #fff, 0 -0.06em 0.18em #fe0,
      0.05em -0.15em 0.23em #fc0, 0.05em -0.15em 0.3em #f90,
      0.07em -0.25em 0.4em #f70, 0.09em -0.3em 0.5em #f70,
      0.1em -0.3em 0.9em #f50, 0.1em -0.3em 1em #f40;
  }
  100% {
    box-shadow: 0 -0.05em 0.2em #fff, 0.01em -0.02em 0.15em #fe0,
      0.01em -0.05em 0.15em #fc0, 0.02em -0.15em 0.2em #f90,
      0.04em -0.2em 0.3em #f70, 0.05em -0.25em 0.4em #f70,
      0.06em -0.2em 0.9em #f50, 0.1em -0.1em 1em #f40;
  }
}
.block-effect-fire-animation {
  animation-duration: 0.8s;
  animation-name: block-effect-fire-animation-keyframes;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #ffe;
}
