*
{
    font-size: normal;
    font-weight: normal;
}
.--bold
{
    font-weight: bold;
    font-size: 80px;
}
section
{
    border: black solid 1px;
}
.header
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    margin:auto
}
/*Introduction section*/

.sectionIntro
{   
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    height: 424px;
}
.sectionIntro .section__title
{
    box-sizing: border-box;
    width:60%;
    margin:auto;
    font-size: 60px;
    /*TRBL= Top rigth bottom left*/
    padding:0px 0px 0px 400px;
}
.sectionIntro .section__subtitle
{
    box-sizing: border-box;
    background-color:#14CFAE ;
    color:#1C4B43;
    width: 60%;
    margin:auto;
    /*TRBL= Top rigth bottom left*/
    padding:12px 0px 12px 400px;
    font-size: 35px;
}
.sectionIntro__image
{
    position: absolute;
    left:300px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 10px;
}
/*Skill**********************************************************************************************/
.sectionMySkills
{
    position: relative;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("../images/MyPortfolio/christopher-gower-m_HRfLhgABo-unsplash@2x.png");
    color:white;
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    align-items: center;
    
}
.sectionMySkills .section__title
{   
    color: #16E0BD;
    font-weight: bold;
    font-size: 50px;
    
    
}
.MySkills
{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.skill h2
{   

    text-align: center;
    border: 1px solid white;
}
.skill
{
    box-sizing: border-box;
    text-align: center;
    margin:10px;
}
.bar
{   
    position:absolute;
    top:25%;
    border: 1px solid white;
    width: 10%;
}
.button
{
    text-decoration: none;
    color: #1C4B43;
    border: #16E0BD 1px solid;
    background-color: #16E0BD;
    padding: 15px 18px;
}