*
{
  padding:0px;
  margin:0px;
  color:white;
  background-color: black;
}
.heading
{
  text-align: center;
  font-size: 15rem;
}
.--style-writting
{
  font-style: italic;
  letter-spacing: -30px;

}
.--clickable
{
  cursor: pointer;
}
.--link
{
  text-decoration: none;
}
small
{
  font-size: 0.8rem;
  background: none;
  display: block;
  width: auto;
  margin: auto;
}
