.the__ball
{
    margin-top: 100px;
    width: 25%;
    height:300px;
    border:2px solid black;
    margin-left: auto;
    margin-right:auto;
    border-radius:50%;
    background-color: chocolate;
    box-shadow:inset 5px 5px 10px black, 5px 5px 0px black;
    transition : width 6s linear, height 6s linear, box-shadow 6s linear;
    transition-delay:20ms; 
    

}
.the__ball:hover
{
    width: 50%;
    height: 600px;
    box-shadow:inset 5px 5px 20px 5px black,5px 5px 5px 0px black;
    
}
body
{
    background-color: gray;
}